h1 {
  color: #00CC99;
  font-size: 70px;
  font-family: "Times New Roman", Times, Serif
}

h2 {
  color: black;
  font-size: 60px
    font-family: "Arial", Sans-serif 
    
}

h3 {
  color: #FF3300;
  font-size: 70px
    font-family: "Courier New", Monospace
}